@layer components {
  .button {
    @apply inline-flex h-fit w-fit cursor-pointer items-center justify-center gap-2 rounded-md border border-transparent bg-neutral-10 px-4 py-2 text-sm font-medium text-neutral-90 transition-colors duration-200 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2 dark:bg-neutral-90 dark:text-neutral-10;
  }

  .button-disabled {
    @apply pointer-events-none cursor-not-allowed opacity-60;
  }

  /* Primary */
  .button-primary {
    @apply text-primary;
  }

  .button-primary.button-outline {
    @apply border border-primary/60 bg-transparent hover:bg-primary/5 active:bg-primary/10;
  }

  .button-primary.button-fill {
    @apply border border-primary/50 bg-primary/90 text-neutral-10 hover:bg-primary;
  }

  .button-primary.button-ghost {
    @apply bg-transparent text-primary hover:bg-primary/5 active:bg-primary/10;
  }

  .button-primary.button-link {
    @apply border-none bg-transparent p-0 text-primary underline-offset-4 hover:underline;
  }

  .button-primary.button-ghost span svg,
  .button-primary.button-outline span svg,
  .button-primary.button-link span svg {
    @apply stroke-primary;
  }

  /* Secondary */
  .button-secondary {
    @apply text-secondary;
  }

  .button-secondary.button-outline {
    @apply border border-secondary/60 bg-transparent hover:bg-secondary/5 active:bg-secondary/10;
  }

  .button-secondary.button-fill {
    @apply border border-secondary/50 bg-secondary/90 text-neutral-10 hover:bg-secondary;
  }

  .button-secondary.button-ghost {
    @apply bg-transparent text-secondary hover:bg-secondary/5 active:bg-secondary/10;
  }

  .button-secondary.button-link {
    @apply border-none bg-transparent p-0 text-secondary underline-offset-4 hover:underline;
  }

  .button-secondary.button-ghost span svg,
  .button-secondary.button-outline span svg,
  .button-secondary.button-link span svg {
    @apply stroke-secondary;
  }

  /* Success */
  .button-success {
    @apply text-success;
  }

  .button-success.button-outline {
    @apply border border-success/60 bg-transparent hover:bg-success/5 active:bg-success/10;
  }

  .button-success.button-fill {
    @apply border border-success/50 bg-success/90 text-neutral-10 hover:bg-success;
  }

  .button-success.button-ghost {
    @apply bg-transparent text-success hover:bg-success/5 active:bg-success/10;
  }

  .button-success.button-link {
    @apply border-none bg-transparent p-0 text-success underline-offset-4 hover:underline;
  }

  .button-success.button-ghost span svg,
  .button-success.button-outline span svg,
  .button-success.button-link span svg {
    @apply stroke-success;
  }

  /* Error */
  .button-error {
    @apply text-error;
  }

  .button-error.button-outline {
    @apply border border-error/60 bg-transparent hover:bg-error/5 active:bg-error/10;
  }

  .button-error.button-fill {
    @apply border border-error/50 bg-error/90 text-neutral-10 hover:bg-error;
  }

  .button-error.button-ghost {
    @apply bg-transparent text-error hover:bg-error/5 active:bg-error/10;
  }

  .button-error.button-link {
    @apply border-none bg-transparent p-0 text-error underline-offset-4 hover:underline;
  }

  .button-error.button-ghost span svg,
  .button-error.button-outline span svg,
  .button-error.button-link span svg {
    @apply stroke-error;
  }

  /* Warning */
  .button-warning {
    @apply text-warning;
  }

  .button-warning.button-outline {
    @apply border border-warning/60 bg-transparent hover:bg-warning/5 active:bg-warning/10;
  }

  .button-warning.button-fill {
    @apply border border-warning/50 bg-warning/90 text-neutral-10 hover:bg-warning;
  }

  .button-warning.button-ghost {
    @apply bg-transparent text-warning hover:bg-warning/5 active:bg-warning/10;
  }

  .button-warning.button-link {
    @apply border-none bg-transparent p-0 text-warning underline-offset-4 hover:underline;
  }

  .button-warning.button-ghost span svg,
  .button-warning.button-outline span svg,
  .button-warning.button-link span svg {
    @apply stroke-warning;
  }

  /* Info */
  .button-info {
    @apply text-info;
  }

  .button-info.button-outline {
    @apply border border-info/60 bg-transparent hover:bg-info/5 active:bg-info/10;
  }

  .button-info.button-fill {
    @apply border border-info/50 bg-info/90 text-neutral-10 hover:bg-info;
  }

  .button-info.button-ghost {
    @apply bg-transparent text-info hover:bg-info/5 active:bg-info/10;
  }

  .button-info.button-link {
    @apply border-none bg-transparent p-0 text-info underline-offset-4 hover:underline;
  }

  .button-info.button-ghost span svg,
  .button-info.button-outline span svg,
  .button-info.button-link span svg {
    @apply stroke-info;
  }

  /* Neutral */
  .button-neutral {
    @apply text-neutral;
  }

  .button-neutral.button-outline {
    @apply border border-neutral/60 bg-transparent hover:bg-neutral/5 active:bg-neutral/10;
  }

  .button-neutral.button-fill {
    @apply border border-neutral/50 bg-neutral/90 text-neutral-10 hover:bg-neutral;
  }

  .button-neutral.button-ghost {
    @apply bg-transparent text-neutral hover:bg-neutral/5 active:bg-neutral/10;
  }

  .button-neutral.button-link {
    @apply border-none bg-transparent p-0 text-neutral underline-offset-4 hover:underline;
  }

  .button-neutral.button-ghost span svg,
  .button-neutral.button-outline span svg,
  .button-neutral.button-link span svg {
    @apply stroke-neutral;
  }
}

/* Sizes */
@utility button-text-xs {
  @apply rounded-sm px-3 py-1 text-xs;
}

@utility button-text-sm {
  @apply rounded-sm px-3.5 py-2 text-sm;
}

@utility button-text-md {
  @apply rounded-md px-3 py-2.5 text-sm;
}

@utility button-text-lg {
  @apply rounded-lg px-5 py-3 text-base;
}

@utility button-text-xl {
  @apply rounded-lg px-6 py-3.5 text-base;
}

@utility button-text-2xl {
  @apply rounded-xl px-7 py-4 text-lg;
}

@utility button-icon-xs {
  @apply h-7 w-7 rounded-sm;
}

@utility button-icon-sm {
  @apply h-8 w-8 rounded-sm;
}

@utility button-icon-md {
  @apply h-10 w-10 rounded-md;
}

@utility button-icon-lg {
  @apply h-12 w-12 rounded-lg;
}

@utility button-icon-xl {
  @apply h-14 w-14 rounded-lg;
}

@utility button-icon-2xl {
  @apply h-16 w-16 rounded-xl;
}

/* Additional styles */
@utility button-fullWidth {
  @apply w-full;
}

@utility button-fullRounded {
  @apply rounded-full;
}
