@layer components {
  .button {
    @apply inline-flex h-fit w-fit cursor-pointer items-center justify-center gap-2 transition-all focus:outline-none active:scale-95;
  }

  .button-disabled {
    @apply pointer-events-none cursor-not-allowed opacity-50;
  }

  /* Primary */
  .button-primary {
    @apply hover:bg-primary/90 active:bg-primary/70;
  }

  .button-primary.button-outline {
    @apply text-primary hover:bg-primary/10 active:bg-primary/15 border;
  }

  .button-primary.button-fill {
    @apply bg-primary hover:bg-primary/90 active:bg-primary/70 text-neutral-10;
  }

  .button-primary.button-ghost {
    @apply text-primary hover:bg-primary/10 active:bg-primary/80 active:text-primary bg-transparent;
  }

  .button-primary.button-link {
    @apply text-primary bg-transparent p-0 hover:underline hover:opacity-80;
  }

  .button-primary.button-ghost span svg,
  .button-primary.button-outline span svg,
  .button-primary.button-link span svg {
    @apply stroke-primary;
  }

  /* Secondary */
  .button-secondary {
    @apply hover:bg-secondary/90 active:bg-secondary/70;
  }

  .button-secondary.button-outline {
    @apply border-secondary text-secondary hover:bg-secondary/10 active:bg-secondary/15 border;
  }

  .button-secondary.button-fill {
    @apply bg-secondary hover:bg-secondary/90 active:bg-secondary/70 text-neutral-10;
  }

  .button-secondary.button-ghost {
    @apply text-secondary hover:bg-secondary/10 active:bg-secondary/80 active:text-secondary bg-transparent;
  }

  .button-secondary.button-link {
    @apply text-secondary bg-transparent p-0 hover:underline hover:opacity-80;
  }

  .button-secondary.button-ghost span svg,
  .button-secondary.button-outline span svg,
  .button-secondary.button-link span svg {
    @apply stroke-secondary;
  }

  /* Success */
  .button-success {
    @apply hover:bg-success/90 active:bg-success/70;
  }

  .button-success.button-outline {
    @apply border-success text-success hover:bg-success/10 active:bg-success/15 border;
  }

  .button-success.button-fill {
    @apply bg-success hover:bg-success/90 active:bg-success/70 text-neutral-10;
  }

  .button-success.button-ghost {
    @apply text-success hover:bg-success/10 active:bg-success/80 active:text-success bg-transparent;
  }

  .button-success.button-link {
    @apply text-success bg-transparent p-0 hover:underline hover:opacity-80;
  }

  .button-success.button-ghost span svg,
  .button-success.button-outline span svg,
  .button-success.button-link span svg {
    @apply stroke-success;
  }

  /* Error */
  .button-error {
    @apply hover:bg-error/90 active:bg-error/70;
  }

  .button-error.button-outline {
    @apply border-error text-error hover:bg-error/10 active:bg-error/15 border;
  }

  .button-error.button-fill {
    @apply bg-error hover:bg-error/90 active:bg-error/70 text-neutral-10;
  }

  .button-error.button-ghost {
    @apply text-error hover:bg-error/10 active:bg-error/80 active:text-error bg-transparent;
  }

  .button-error.button-link {
    @apply text-error bg-transparent p-0 hover:underline hover:opacity-80;
  }

  .button-error.button-ghost span svg,
  .button-error.button-outline span svg,
  .button-error.button-link span svg {
    @apply stroke-error;
  }

  /* Warning */
  .button-warning {
    @apply hover:bg-warning/90 active:bg-warning/70;
  }

  .button-warning.button-outline {
    @apply border-warning text-warning hover:bg-warning/10 active:bg-warning/15 border;
  }

  .button-warning.button-fill {
    @apply bg-warning hover:bg-warning/90 active:bg-warning/70 text-neutral-10;
  }

  .button-warning.button-ghost {
    @apply text-warning hover:bg-warning/10 active:bg-warning/80 active:text-warning bg-transparent;
  }

  .button-warning.button-link {
    @apply text-warning bg-transparent p-0 hover:underline hover:opacity-80;
  }

  .button-warning.button-ghost span svg,
  .button-warning.button-outline span svg,
  .button-warning.button-link span svg {
    @apply stroke-warning;
  }

  /* Info */
  .button-info {
    @apply hover:bg-info/90 active:bg-info/70;
  }

  .button-info.button-outline {
    @apply border-info text-info hover:bg-info/10 active:bg-info/15 border;
  }

  .button-info.button-fill {
    @apply bg-info hover:bg-info/90 active:bg-info/70 text-neutral-10;
  }

  .button-info.button-ghost {
    @apply text-info hover:bg-info/10 active:bg-info/80 active:text-info bg-transparent;
  }

  .button-info.button-link {
    @apply text-info bg-transparent p-0 hover:underline hover:opacity-80;
  }

  .button-info.button-ghost span svg,
  .button-info.button-outline span svg,
  .button-info.button-link span svg {
    @apply stroke-info;
  }

  /* Neutral */
  .button-neutral {
    @apply hover:bg-neutral/90 active:bg-neutral/70;
  }

  .button-neutral.button-outline {
    @apply border-neutral text-neutral hover:bg-neutral/10 active:bg-neutral/15 border;
  }

  .button-neutral.button-fill {
    @apply bg-neutral hover:bg-neutral/90 active:bg-neutral/70 text-neutral-10;
  }

  .button-neutral.button-fill span svg {
    @apply stroke-neutral;
  }

  .button-neutral.button-ghost {
    @apply text-neutral hover:bg-neutral/10 active:bg-neutral/80 active:text-neutral bg-transparent;
  }

  .button-neutral.button-link {
    @apply text-neutral bg-transparent p-0 hover:underline hover:opacity-80;
  }

  .button-neutral.button-ghost span svg,
  .button-neutral.button-outline span svg,
  .button-neutral.button-link span svg {
    @apply stroke-neutral;
  }
}

/* Sizes */
@utility button-text-xs {
  @apply rounded-xs-plus px-4 py-1;
}

@utility button-text-sm {
  @apply rounded-sm px-4 py-2;
}

@utility button-text-md {
  @apply rounded-md px-6 py-3;
}

@utility button-text-lg {
  @apply rounded-lg px-8 py-4;
}

@utility button-text-xl {
  @apply rounded-lg px-10 py-5;
}

@utility button-text-2xl {
  @apply rounded-xl px-12 py-6;
}

@utility button-icon-xs {
  @apply rounded-xs-plus h-5 w-5 p-4;
}

@utility button-icon-sm {
  @apply h-[30px] w-[30px] rounded-sm;
}

@utility button-icon-md {
  @apply h-10 w-10 rounded-md;
}

@utility button-icon-lg {
  @apply h-14 w-14 rounded-lg;
}

@utility button-icon-xl {
  @apply h-16 w-16 rounded-lg;
}

@utility button-icon-2xl {
  @apply h-19 w-19 rounded-xl;
}

/* Additional styles */
@utility button-fullWidth {
  @apply w-full;
}

@utility button-fullRounded {
  @apply rounded-full;
}
