@layer components {
  .switch {
    @apply inline-flex h-5 w-10 shrink-0 items-center rounded-full border border-neutral-30 bg-neutral-20 transition-all duration-200 outline-none data-[state=checked]:border-primary/60 data-[state=checked]:bg-primary/80 data-[state=unchecked]:bg-neutral-20 data-[state=unchecked]:border-neutral-30 disabled:cursor-not-allowed disabled:opacity-60 md:h-6 md:w-12 dark:border-neutral-80 dark:bg-neutral-90;
  }

  .switch-thumb {
    @apply pointer-events-none flex size-4 items-center justify-center rounded-full bg-neutral-0 transition-transform duration-200 shadow-sm data-[state=checked]:translate-x-6 data-[state=unchecked]:translate-x-0.5 md:size-5 rtl:data-[state=checked]:translate-x-0.5 rtl:data-[state=unchecked]:translate-x-5 md:rtl:data-[state=unchecked]:translate-x-6;
  }
}
