@layer components {
  .textInput {
    @apply relative flex h-14 w-100 items-center gap-2.5 rounded-lg border border-neutral-30 bg-neutral-10 px-4 transition-colors duration-200 focus-within:border-primary focus-within:ring-2 focus-within:ring-primary/30 focus-within:ring-offset-0 dark:border-neutral-80 dark:bg-neutral-90;

    input {
      @apply h-full w-full bg-transparent text-base font-medium text-neutral-90 placeholder:text-neutral-50 focus:outline-none dark:text-neutral-10 dark:placeholder:text-neutral-60;
    }

    svg {
      @apply h-4.5 w-4.5 text-neutral-60;
    }
  }

  .textInputLabel {
    @apply mb-2 text-sm font-semibold text-neutral-80 dark:text-neutral;
  }

  .textInputMessage {
    @apply mt-2 text-sm font-medium text-neutral-70;
  }

  /* Primary */
  .textInput-primary {
    @apply focus-within:border-primary;
  }

  .textInput-primary.textInput-outline {
    @apply border-primary bg-transparent;
  }

  .textInput-primary.textInput-fill {
    @apply border-primary bg-primary/5 text-primary;
  }

  .textInput-primary.textInput-ghost {
    @apply border-transparent bg-transparent text-primary;
  }

  .textInput-primary span svg {
    @apply stroke-primary;
  }

  /* Secondary */
  .textInput-secondary {
    @apply focus-within:border-secondary;
  }

  .textInput-secondary.textInput-outline {
    @apply border-secondary bg-transparent text-secondary;
  }

  .textInput-secondary.textInput-fill {
    @apply border-secondary bg-secondary/5 text-secondary;
  }

  .textInput-secondary.textInput-ghost {
    @apply border-transparent bg-transparent text-secondary;
  }

  .textInput-secondary span svg {
    @apply stroke-secondary;
  }

  /* Success */
  .textInput-success {
    @apply focus-within:border-success;
  }

  .textInput-success.textInput-outline {
    @apply border-success bg-transparent text-success;
  }

  .textInput-success.textInput-fill {
    @apply border-success bg-success/5 text-success;
  }

  .textInput-success.textInput-ghost {
    @apply border-transparent bg-transparent text-success;
  }

  .textInput-success span svg {
    @apply stroke-success;
  }

  /* Warning */
  .textInput-warning {
    @apply focus-within:border-warning;
  }

  .textInput-warning.textInput-outline {
    @apply border-warning bg-transparent text-warning;
  }

  .textInput-warning.textInput-fill {
    @apply border-warning bg-warning/5 text-warning;
  }

  .textInput-warning.textInput-ghost {
    @apply border-transparent bg-transparent text-warning;
  }

  .textInput-warning span svg {
    @apply stroke-warning;
  }

  /* error */
  .textInput-error {
    @apply focus-within:border-error;
  }

  .textInput-error.textInput-outline {
    @apply border-error bg-transparent text-error;
  }

  .textInput-error.textInput-fill {
    @apply border-error bg-error/5 text-error;
  }

  .textInput-error.textInput-ghost {
    @apply border-transparent bg-transparent text-error;
  }

  .textInput-error span svg {
    @apply stroke-error;
  }

  /* Info */
  .textInput-info {
    @apply focus-within:border-info;
  }

  .textInput-info.textInput-outline {
    @apply border-info bg-transparent text-info;
  }

  .textInput-info.textInput-fill {
    @apply border-info bg-info/5 text-info;
  }

  .textInput-info.textInput-ghost {
    @apply border-transparent bg-transparent text-info;
  }

  .textInput-info span svg {
    @apply stroke-info;
  }

  /* Neutral */
  .textInput-neutral {
    @apply focus-within:border-neutral;
  }

  .textInput-neutral.textInput-outline {
    @apply border-neutral bg-transparent text-neutral;
  }

  .textInput-neutral.textInput-fill {
    @apply border-neutral bg-neutral/5 text-neutral;
  }

  .textInput-neutral.textInput-ghost {
    @apply border-transparent bg-transparent text-neutral;
  }

  .textInput-neutral span svg {
    @apply stroke-neutral;
  }

  /* Full width */
  .textInput-fullWidth {
    @apply w-full;
  }

  /* Disabled */
  .textInput-disabled {
    @apply pointer-events-none cursor-not-allowed opacity-60;
  }
}

/* Size TextInput */
@utility textInput-base {
  @apply gap-2.5;

  input {
    @apply placeholder:text-neutral-50 dark:placeholder:text-neutral-60;
  }

  svg {
    @apply text-neutral-60;
  }
}

@utility textInput-sm {
  @apply textInput-base h-12 w-75 rounded-md px-4;

  input {
    @apply text-sm font-normal placeholder:text-sm;
  }

  svg {
    @apply h-4 w-4;
  }
}

@utility textInput-md {
  @apply textInput-base h-14 w-100 rounded-lg px-4;

  input {
    @apply text-base font-medium placeholder:text-base;
  }

  svg {
    @apply h-4.5 w-4.5;
  }
}

@utility textInput-lg {
  @apply textInput-base h-16 w-125 rounded-xl px-5;

  input {
    @apply text-lg font-medium placeholder:text-lg;
  }

  svg {
    @apply h-5 w-5;
  }
}

/* Light Background */
@utility textInput-sm-light {
  @apply textInput-sm bg-neutral-0 dark:bg-neutral-90;
}

@utility textInput-md-light {
  @apply textInput-md bg-neutral-0 dark:bg-neutral-90;
}

@utility textInput-lg-light {
  @apply textInput-lg bg-neutral-0 dark:bg-neutral-90;
}

/* EndAction Icon */
@utility textInput-sm-endAction {
  @apply textInput-sm pr-4 pl-3;
}

@utility textInput-md-endAction {
  @apply textInput-md pr-4.5 pl-3.5;
}

@utility textInput-lg-endAction {
  @apply textInput-lg pr-5 pl-4;
}

/* Label size */
@utility textInput-sm-label {
  @apply text-sm;
}

@utility textInput-md-label {
  @apply text-base;
}

@utility textInput-lg-label {
  @apply text-lg;
}

/* Label Message */
@utility textInput-sm-inputMessage {
  @apply text-sm;
}

@utility textInput-md-inputMessage {
  @apply text-base;
}

@utility textInput-lg-inputMessage {
  @apply text-lg;
}
